body {
 background-color: black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 16px;
margin: 0px;
color: red;
}

ul{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
}
nav{
    display: flex;
    flex-direction: column-reverse;
}
p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
div{
    max-width: 300px;
    max-height: 400px;
    width: auto;
    height: auto;
    margin: 0 ;
    padding: 10px 110px 0px 2px ;
}
.tamanhoImagem{
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height: auto;
}
.jogos{
    display: flex;
    flex-direction: row;
    
}
.inicio{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}
h1{
    font-size: 45px;
}
.menu{
    color: white;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    h2 { 
        display: flex;
        font-size: 11000px ;
        color: ;
        height: ;
        width: ;

}


}


